.main{
  background-color: burlywood;
  position:relative;
}
h1{
  margin:auto;
  width: 20%;
  font-family: 'Beau Rivage', cursive;
}
p{
  margin:0;
}
#pro{
  text-decoration: underline;
}
body{
  text-align: center;
  font-family: 'Merriweather', serif;
}
#cloud1{
  position:absolute;
  right:300px;
  top:50px
}
#cloud2{
  position:absolute;
  left:0300px;
  bottom:300px
}
hr{
  width : 5%;
  border-style: dotted none none none;
  border-width: 5px;
}
