.main{
  background-color: burlywood;
  position:relative;
}
h1{
  margin:auto;
  font-family: 'Beau Rivage', cursive;
  font-size: 5.625rem;
  line-height: 2;
}
p{
  margin:0;
  font-weight: lighter;
}
#pro{
  text-decoration: underline;
}
body{
  text-align: center;
  font-family: 'Merriweather', serif;
}
#cloud1{
  position:absolute;
  right:220px;
  top:50px
}
#cloud2{
  position:absolute;
  left:250px;
  bottom:300px
}
hr{
  width : 5%;
  border-style: dotted none none none;
  border-width: 5px;
}
