@{
    ViewData["Title"] = "Home Pager";
    Layout = "_LayoutPokemon";
}

<!-- Tabel -->
<table class="table table-hover table-border tablePokemon" >
    <thead class="thead-dark">
        <tr>
            <th>No.</th>
            <th>Nama</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="tablePokemon">
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pokemon Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container" >
                    <div class="row" >
                        <div class="col text-center">

                            <div style ="position: sticky; top:0; background-color: white;">
                                <img class="picture" width="200" height="200" style="border-radius:100%; border-style:groove">
                                <p class="name" style="text-transform: uppercase"></p>
                                <p id = "types"></p>
                            </div>
                            <p style="margin-bottom:0;">Vitality</p>
                            <div class="progress">
                                <div class="vty progress-bar" style="background-color: #B5FE83" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                            <p style="margin-bottom:0;">Attack</p>
                            <div class="progress">
                                <div class="atk progress-bar" style="background-color: #FF6B6B " role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                            <p style="margin-bottom:0;">Special-attack</p>
                            <div class="progress">
                                <div class="sclatk progress-bar" style="background-color:#B33030;" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                            <p style="margin-bottom:0;">Defense</p>
                            <div class="progress">
                                <div class="dse progress-bar" style="background-color:#9ADCFF" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                            <p style="margin-bottom:0;">Special-defense</p>
                            <div class="progress">
                                <div class="scldse progress-bar" style="background-color:#03045E;" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                            <p style="margin-bottom:0;">Speed</p>
                            <div class="progress">
                                <div class="spd progress-bar bg-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="row">
                                @*<h5 style="width: 400px; display: grid; justify-content: center">ABILITIES</h5>*@
                                <table class="table" style="text-align: center">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Abilities</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tableAbilities" style = "display: inline-block; overflow-y:scroll">
                                    </tbody>
                                </table>
                                @* <ul class="abilities">
                                </ul>*@
                            </div>
                            <div class="row">
                                <table class="table" style="margin: 40px 0 0 0; text-align: center">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Moves</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tableMoves" style = "display: inline-block; height: 250px; overflow-y:scroll">
                                    </tbody>
                                </table>
                                @*<h5 style="width: 400px; display: grid; justify-content: center">MOVES</h5>
                                <ul class="moves" style="width: 400px; height: 400px; overflow-y:scroll">
                                </ul>*@
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>